.blur-navbar {
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(7px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .navbar-brand,
  .nav-link {
    color: white !important; /* Ensure text is readable on the blurred background */
  }
  
 
  .navbar-toggler:focus{
  box-shadow: none !important;
  }
